/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  min-height: 100vh;
  padding: 4rem;
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-areas:
    'gauche droite';
  justify-content: center;
}

.heroText {
  grid-area: droite;
  text-align: right;
}
.heroText h1 {
  margin-bottom: 0;
}
.heroImage {
  margin: 0 auto;
  grid-area: gauche;
}
.buttons  a {
  background: var(--hue-rose);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

@media (width < 660px) {
  .heroBanner {
    grid-template-areas:
      'gauche'
      'droite';
  }
  .heroText {
    text-align: center;
  }
  .heroImage {
    width: 90%;
  }
}

